---
import { Icon } from 'astro-icon/components'
---
<div class="w-full block justify-center items-center">
    <section class="w-full flex flex-col justify-start items-center p-10">
         <div class="flex flex-col justify-center items-center text-center w-1/2">
            <h1 class="text-5xl font-bold"><span class="text-purple-500">Haz match</span> con tu pr贸ximo Roommate en Lima</h1>
            <h3 class="mt-7">驴Universidad, trabajo o nueva ciudad? En Dommies, conectamos roommates en Lima (Miraflores, San Isidro, Surco, etc) con personalidades, presupuesto, ubicaci贸n e intereses similares, para que puedas convivir en un ambiente menos conflictivo. Ah, y verificamos todos los perfiles </h3>
         </div>
         <div class="w-1/2 flex justify-center items-center my-16">
            <button class="w-full flex justify-center items-center h-auto bg-purple-500 text-white p-2 mx-5 rounded-full">
                Quiero encontrar mi Roommate en Lima
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right ml-3" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </button>
         </div>
         <div class="w-1/2 flex justify-center items-center">
            <div class="flex">S铆guenos</div>
            <div class="flex justify-center items-center gap-3 ml-5">
                <i class="bi bi-whatsapp cursor-pointer"></i>
                <i class="bi bi-facebook cursor-pointer"></i>
                <i class="bi bi-tiktok cursor-pointer"></i>
                <i class="bi bi-instagram cursor-pointer"></i>
            </div>
         </div>
         <div class="w-3/5 flex justify-center items-center mt-5">
            <img src="/Macbook-Mockup.webp" alt="" class="w-full" loading="lazy">
         </div>
    </section>
    <section class="w-full h-52 flex flex-wrap justify-evenly items-center px-5 gap-5 p-2 bg-[#8A5EE2]">
        <div class="w-52 flex flex-col justify-center items-center text-white text-center">
            <h3 class="text-5xl mb-4 font-bold">903 perfiles</h3>
            <p class="">Analizados para el entrenamiento IA</p>
        </div>
        <div class="w-52 flex flex-col justify-center items-center text-white text-center">
            <h3 class="text-5xl mb-4 font-bold">71%</h3>
            <p class="">Precisi贸n de Recomendaciones</p>
        </div>
        <div class="w-52 flex flex-col justify-center items-center text-white text-center">
            <h3 class="text-5xl mb-4 font-bold">4MBTI</h3>
            <p class="">Enfoques de Personalidad MBTI</p>
        </div>
        <div class="w-52 flex flex-col justify-center items-center text-white text-center">
            <h3 class="text-5xl mb-4 font-bold">100%</h3>
            <p class="">Usuarios con validaci贸n de identidad</p>
        </div>
    </section>
</div>