<div class="w-full flex justify-center items-center">
    <hr class="w-[90%] h-1 x-12 mt-24 border-purple-800">
</div>
<footer class="w-full flex justify-between items-center p-12 font-bold">
    <div class="w-full text-purple-800">
        <img src="/logo.png" alt="" class="mb-3">
        <p class="">Copyright: ©2024 Dommies Startup</p>
    </div>
    <div class="w-full">
        <div class="w-full flex flex-col justify-center items-center">
            <div class="flex mb-5 text-purple-800">Síguenos</div>
            <div class="flex justify-center items-center gap-7 ml-5">
                <a href="https://api.whatsapp.com/message/2QBIZN45ZCPHA1?autoload=1&app_absent=0" target="_blank" aria-label="Enviar un mensaje por WhatsApp"><i class="bi bi-whatsapp cursor-pointer"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61570895938953" target="_blank" aria-label="Visitar nuestra página de Facebook"><i class="bi bi-facebook cursor-pointer"></i></a>
                <a href="https://www.tiktok.com/@dommies.pro" target="_blank" aria-label="Visitar nuestra cuenta de TikTok"><i class="bi bi-tiktok cursor-pointer"></i></a>
                <a href="https://www.instagram.com/Dommiess.pro/" target="_blank" aria-label="Visitar nuestro perfil de Instagram"><i class="bi bi-instagram cursor-pointer"></i></a>
            </div>
        </div>
    </div>
</footer>