<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-SSE2BCXK2V"></script>
		<script set:html={`
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-SSE2BCXK2V');
		  `}>
		</script>
		<meta charset="UTF-8" />
		<meta name="author" content="Dommies" />
		<meta name="keywords" content="roomies en Lima, encontrar roomie en Lima, compa침eros de cuarto en Lima, compartir departamento en Lima, alquilar habitaci칩n en Lima, app para buscar roomies, b칰squeda de roomies Per칰, buscar compa침ero de depa, encontrar roomies confiables, renta compartida Lima, compartir alquiler en Lima, encontrar roommates en Per칰, c칩mo encontrar un roomie, mejor app para encontrar roomie, alquiler compartido en Lima">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<link rel="shortcut icon" href="/logo.png" type="image/png">
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href="https://dommies.pro">
		<meta name="description" content="쮹uscas roomie en Lima? 游끼 Con Dommies encuentra compa침eros de cuarto confiables y comparte alquiler f치cilmente. Reg칤strate ahora y encuentra el roomie ideal.">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<title>Encuentra Roomies en Lima | Dommies - La Mejor App para Compartir Depa</title>
		<meta property="og:title" content="Encuentra Roomies en Lima | Dommies - La Mejor App para Compartir Depa">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://dommies.pro/">
		<meta property="og:image" content="https://app.dommies.pro/Dommies1.webp">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
